#htj .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7em;
  }
  
  #htj .learn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
  }
  
  #htj .image-box {
    display: flex;
    align-items: center;
  }
  #htj .credit-pic {
    max-width: 100%;
    padding: 1em;
  }
  
  #htj .info-col {
    background-color: #0850F8;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    max-height: 100%;
  }
  
  #htj .content {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 80%;
    padding-top: 3em;
    padding-bottom: 6em;
  }
  #htj .content li {
    list-style-type: '- ';
    align-self: flex-start;
    margin-top: 1em;
    width: 67%;
  }
  
  #htj .learn-more {
    width: 12em;
    border-width: 4px;
    font-size: 1.2em;
    border-radius: 10px;
    padding: .3em;
    font-size: 1.5em;
    padding-bottom: .3em;
    margin-top: .5em;
    font-weight: 300;
  }
  #htj .right-arrow {
    float: right;
    font-weight: 900;
    margin-right: .4em;
  }
  #htj .smaller {
    width: 13em;
    font-size: 1em;
    border-width: 3px;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 7em;
  }
  
  #htj .solution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #htj .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #htj .solution {
    position: relative;
    width: 13vw;
    z-index: -99;
  }
  #htj .solution-icon {
    position: absolute;
    width: 7vw;
  }
  #htj .fontawesome {
    font-size: 6vw;
    color: #0850F8;
    z-index: 1;
  }

  #htj .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0850F8;
    color: #fff;
    height: 48dvh;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
  }

  #htj .footer-buttons {
    display: flex;
    justify-content: space-between;
    width: 22em;
    margin-top: .9em;
    margin-bottom: 2em;
  }
  #htj .foot-butt {
    font-size: .9em;
    width: 10em;
    border-radius: 8px;
  }
  #htj .foot-butt:hover,
  #htj .foot-butt:focus,
  #htj .foot-butt:active,
  #htj .foot-butt:visited {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }
  #htj .get-started {
    padding-top: .35em;
    padding-bottom: .4em;
    width: 11.5em;
    background-color: #7FD126;
    border-color: #7FD126;
  }
  #htj .double-arrow {
    float: right;
    margin-right: .3em;
    transform: translateY(-.1em);
  }
  #htj .chat {
    color: #0850F8;
    border-color: #fff;
    font-size: .7em;
    font-weight: 700;
    width: 12em;
  }
  #htj .chat-icon {
    float: left;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 1.6em;
  }

  #htj .bottom-text {
    font-size: .65em;
    display: flex;
    justify-content: space-evenly;
    width: 37em;
  }